AIRFLOW_UID=50000
AIRFLOW_GID=0

# Postgres для Airflow (метабаза)
POSTGRES_USER
POSTGRES_PASSWORD

# ClickHouse
CLICKHOUSE_USER
CLICKHOUSE_PASSWORD

# Airflow Web UI
# Skipping user creation as auth manager different from Fab is used (Airflow 3.1.0 и выше)
_AIRFLOW_WWW_USER_USERNAME
_AIRFLOW_WWW_USER_PASSWORD

# Fernet ключ (сгенерирован через secrets + base64)
AIRFLOW__CORE__FERNET_KEY